<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="Myconnstr" connectionString="Data Source=d:\Programy\SQLiteStudio\utwory.db;Version=3;" />
    </connectionStrings>
    <appSettings>
        <add key="poziom" value="łatwe,średnie,trudne"/>
        <add key="forma" value="sonata,suita,forma cykliczna,koncert,etiuda,kaprys,miniatura"/>
	    <add key="okres" value="renesans,barok,klasycyzm,romantyzm,XX wiek, XXI wiek"/>
		<add key="charakter" value="spokojny,żywy,awangarda,mieszany"/>
		<add key="katalog" value="d:\temp\utwory"/>
		<add key="pdfreader" value="d:\Programy\Foxit PDF Reader\FoxitPDFReader.exe"/>
    </appSettings>
</configuration>
